alembic>=1.14,<2
aiosqlite>=0.20,<1
asyncpg>=0.30,<1
fastapi>=0.115,<1
opentelemetry-api>=1.29,<2
opentelemetry-exporter-otlp>=1.29,<2
opentelemetry-instrumentation-fastapi>=0.50b0,<1
opentelemetry-instrumentation-redis>=0.50b0,<1
opentelemetry-instrumentation-sqlalchemy>=0.50b0,<1
opentelemetry-sdk>=1.29,<2
pydantic-settings>=2.7,<3
redis>=5.2,<7
sqlalchemy[asyncio]>=2.0.36,<3
uvicorn[standard]>=0.32,<1
